{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "plugin:prettier/recommended",
    "airbnb-typescript",
    "plugin:sonarjs/recommended",
    "plugin:security/recommended",

    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    // React 17 CRA with new JSX transform
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",

    // Make prettier code formatting suggestions more verbose.
    "prettier/prettier": ["warn"],
    // Disable prefer default export
    "import/prefer-default-export": "off",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "no-console": "warn",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off" // turn off for now
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "parserOptions": {
        "ecmaVersion": 12,
        "project": ["./tsconfig.json"]
      }
    }
  ]
}
